<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waterer</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <hr>
    <h2>
      Waterer
      {% if status == 'Online' %}
        <span class="badge badge-pill badge-success float-right" style="padding:5px 30px;font-weight:normal">{{ status }}</span>
      {% else %}
        <span class="badge badge-pill badge-danger float-right" style="padding:5px 30px;font-weight:normal">{{ status }}</span>
      {% endif %}
    </h2>
    <hr>
    <div class="text-center">
      {% if is_watering == True %}
        <a href="/stop" class="btn btn-danger btn-lg">
          Stop! &nbsp;&nbsp;<i class="fa fa-hand-paper-o fa-lg fa-2x"></i>
        </a>
      {% else %}
        <a href="/water" class="btn btn-primary btn-lg">
          Water Now &nbsp;&nbsp;<i class="fa fa-tint fa-lg"></i>&nbsp;<i class="fa fa-tint fa-2x"></i>&nbsp;<i class="fa fa-tint fa-lg"></i>
        </a>
      {% endif %}
      <hr>
      {% if auto == True %}
        <span class="font-weight-light">Automatic watering is set to run everyday at {{ time }}hs (UTC)</span>
      {% else %}
        <span class="font-weight-light">Automatic watering is <strong>currently disabled</strong></span>
      {% endif %}
      <br><a href="/toggle_auto" class="btn btn-outline-secondary btn-sm mt-2">{{ button_text }}</a>
    </div>
    <hr>
    <h5>Last 3 runs <span class="float-right"><small>{{ server_datetime }}</small></span></h5>
    <ul class="small list-group">
      {% for line in log %}
      <li class="list-group-item list-group-item-light">{{ line }}</li>
      {% endfor %}
    </ul>
    <hr>
    <h5>Timing settings</h5>
    <form class="form-inline mb-3" action="{{ url_for('set_area_1_time') }}" method="post">
      <span class="font-weight-light col-5 text-right">Area 1 (sec)</span> &nbsp;
      <input type="text" class="col-3" name="timeArea1" value={{ time_area_1 }}> &nbsp;
      <button type="submit" class="btn btn-outline-primary btn-sm col-3">Save</button>
    </form>
    <form class="form-inline" action="{{ url_for('set_area_2_time') }}" method="post">
      <span class="font-weight-light col-5 text-right">Area 2 (sec)</span> &nbsp;
      <input type="text" class="col-3" name="timeArea2" value={{ time_area_2 }}> &nbsp;
      <button type="submit" class="btn btn-outline-primary btn-sm col-3">Save</button>
    </form>
  </div>
</body>
</html>


